# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist-ssr
*.local

# Server
server/node_modules
server/.env
server/db.json

# Android
android/.gradle
android/build
android/app/build
android/capacitor-android/build
android/capacitor-cordova-android-plugins/build

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
